@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
    <div class="container-fluid">
        <div class="row">
        </div>

        <div class="row">
            <div class="col">
                <form id="form1" runat="server">
                    <div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <h2>Login</h2>
                            </div>
                        </div>
                    </div>
                    <div>
                        <imput></imput>
                    </div>
                </form>
            </div>
        </div>


    </div>
</body>
